# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment files
.env

# Ignore OS-related files
.DS_Store
Thumbs.db

# Ignore build files
dist/
build/

# Ignore IDE folders
.vscode/
.idea/
